%table.tall.shaded
  %tr
    %th
      From
    %td
      = date_select :from, @membership.from
  - if @membership.model.allow_overlap
    %tr
      %th
        To
      %td
        = date_select :upto, (@membership.upto == SEP_DATE ? nil : @membership.to)
  