%table.tall.shaded
  %tr
    %th
      From
    %td
      = date_select "membership[from]", @membership.from, :id => "from", :min_date => Date.new(1970,1,1)
  - if @membership.model.allow_overlap
    %tr
      %th
        To
      %td
        = date_select "membership[upto]", (@membership.upto == SEP_DATE ? nil : @membership.to), :id => "upto"
  