%h1
  Memberships controller, show action
%p
  Edit this file in
  %tt
    app/views/memberships/show.html.erb

= link_to 'Edit',  url(:edit_membership,  @membership)
|
= link_to 'Back', url(:memberships)