=partial :form
- @keys = [:date, :received_for, :type, :amount, :client, :branch, :center, :product]
%table.report
  %tr.header
    - @keys.each do |k|
      %th
        = k
  - @data.each do |d|
    %tr
    - @keys.each do |k|
      %td
        = d[k]
